{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>


<div class="mt-5">
<footer class="text-dark text-center text-lg-start">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Footer Content</h5>
  
          <p>
            Il s'agit d'un site Web pour créer une relation positive 
            entre le restaurant et son client pour faciliter la communication 
            entre eux et aussi pour faire de la publicité nationale
            spécifique dans un autre region. <br>
            Merci pour ta confiance
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Suive nous sur:</h5>
          <a href="#"target="_blank"><img src="{% static 'image/icon/facebook.png' %}" class="icon"></a>&nbsp
          <a href="#"target="_blank"><img src="{% static 'image/icon/in.png' %}"  class="icon"></a>&nbsp
          <a href="#"target="_blank"><img src="{% static 'image/icon/insta.png' %}"  class="icon"></a>
        </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:Yazidi Abdelwaheb
    </div>
  </footer>
</div>