    
{% extends 'user/user.html' %}
{% load static %}
{% block contenu %}
<body class="mb-5">
   
      <div class="container mt-5 position-absolute mx-lg-5">
          <div class="mt-5 position-absolute d-flex flex-row end-0">
            
            <form method="get" class="input-group">
                <input type="text" class="form-control" name="rech" placeholder="Rechercher..." value="{{rech}}">
                <input type="submit" value="Rechercher" class="btn btn-outline-warning">
            </form>
          </div>
            <h1 class="text-secondary my-5">Plats:</h1>
            <hr>
            <div class="row">
                {% if plats %}
                {% for i in plats %}
                {% for j in i %}
                <div class="col-sm-4">
                    <div class="card my-2 shadow">
                    <div class="card-body p-0" >
                        <div class=" my-2 ms-1 d-flex">
                            <a href="{% url 'plats_resto' j.resto.id  %}">
                                <img src="{{j.resto.img.url}}" style="width: 60px; height: 60px;">
                            
                            <h5 class="card-title  ms-2 text-break"> <span style="text-decoration: none;" class="fw-bold fs-3 text-dark">{{j.resto.nom}}</span></a> <br> {{j.resto.specialite}}</h5>
                        </div>
                    </div>
                    <img src="{{j.img.url}}" height="250">
                    <div class="card-body">
                        <h5 class="card-title"><span class="fw-bold">Nom : </span>{{j.nom}}</h5>
                        <p class="card-text">
                            <span class="fw-bold">Description : </span>{{j.desc}} <br>
                            <span class="fw-bold">Prix : </span>{{j.prix}}dt
                        </p>
                    </div>
                    </div>
                </div>
            {%endfor%}
            {%endfor%}

            {% else %}
                <p class="text-center text-secondary">Faire des abonnement pour plusieur restos <br> pour voir sont plats ici.</p>
            {% endif %}
        </div> 
        
    </div> 
    </div>
</body>
{% endblock contenu %}