{% extends 'user/user.html' %}
{% block contenu %}
<br>
<div class="container mt-5">
<h1 class="text-secondary">Evenement:</h1>
<hr>
<div class="row">
    {% if even %}
    {% for i in even %}
    {% for j in i %}
    <div class="col-sm-4">
        <div class="card my-2 shadow">
        <div class="card-body p-0" >
            <div class=" my-2 ms-1 d-flex">
                <a href="{% url 'plats_resto' j.resto.id  %}">
                    <img src="{{j.resto.img.url}}" style="width: 60px; height: 60px;">
                
                <h5 class="card-title ms-2 text-break"><span class="fw-bold fs-3 text-dark">{{j.resto.nom}}</span> </a> <br> {{j.resto.specialite}}</h5>
            </div>
        </div>
        <img src="{{j.img.url}}" height="250">
        <div class="card-body">
            <h5 class="card-title">{{j.nom}}</h5>
            <p class="card-text">
            {{j.desc}} <br>
            {{j.date}}
            </p>
        </div>
        </div>
    </div>
{%endfor%}
{%endfor%}

{% else %}
    <p class="text-center text-secondary">Faire des abonnement pour plusieur restos <br> pour voir sont Evenement ici.</p>
{% endif %}
</div> 
</div>
{% endblock contenu %}