{% extends 'user/user.html' %}
{% block contenu %}
<br><br>
<div class="container my-5">
  <div class=" position-absolute me-5 end-0">
    <form method="get" class="input-group">
        <input type="text" class="form-control" name="rech" placeholder="Rechercher...">
        <input type="submit" value="Rechercher" class="btn btn-outline-warning">
    </form>
  </div>
    <h3 class="text-secondary fs-1">Resto:</h3>
    <hr>
    <div class="row">
      {% if restos %}
        
        {% for i in restos %}

          <div class="col-sm-3">
            <div class="card my-2 shadow">
              <a href="{% url 'plats_resto' i.id  %}"><img src="{{i.img.url}}" class="card-img-top" alt="{{i.specialite}}"  height="200" ></a>
              <div class="card-body">
                <h5 class="card-title">{{i.nom}}</h5> 
                <p class="card-text">{{i.specialite}} </p>
                <p class="card-text">{{i.desc}} </p>
                <a href="{% url 'abonne' i.id %}" class="btn " style="background-color:rgb(255, 170, 33);">Abonnee</a>
              </div>
            </div>
          </div>
          {% endfor %}
       
      {% else %}
        <p class="text-center text-secondary">aucune resto avec cet nom</p>
      {% endif %}
    </div>
    
    </div>
  </div>
{% endblock contenu %}