{% extends "resto/resto_admin.html" %}
{% block contenu %}
<div class="row mx-5 my-3">
   
    <div class="col-lg-8 col-md-12">
        <h1 class="text-secondary">Evenements active:</h1>
        <hr>
        <div class="row">
            {% if even_active %}
            {% for i in even_active %}
                <div class="col-sm-4">
                <div class="card my-2 shadow">
                <img src="{{i.img.url}}" class="card-img-top" alt="{{i.specialite}}" style="max-height: 145px;">
                <div class="card-body">
                    <p class="card-text">
                        {{i.desc}} <br>
                        {{i.date}}

                    </p>
                 
                    <div class="dropdown" data-bs-theme="blue">
                    <a class="btn  dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color:rgb(255, 170, 33);">
                        Choix
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li class="dropdown-item" ><a href="{% url 'desactive_e' i.id  %}" class="btn btn-outline-info" type="button" style="width: 100px;">Desactive</a></li>
                        <li class="dropdown-item" ><a href="{% url 'sup_even' i.id  %}" class="btn btn-outline-danger" type="button" style="width: 100px;">Suppreme</a></li>
                    </ul>
                    </div>
                </div>
                </div>
                </div>
            {%endfor%}
            {% else %}
                <p class="text-center text-secondary">Aucune Evenements ajouter.</p>
            {% endif %}
        </div>
    </div>
   
    <div class="col-lg-4 col-md-12  ">
        <div class="container">
            <h1 class="text-secondary">Créer Evenements</h1>
            <hr>
            <form method="post">
                {% csrf_token %}
                <textarea name="desc" class="form-control mb-3" placeholder="une petite description pour la pub"></textarea>
                <input type="file" name="img" accept="image/*" class="form-control mb-3">
                choix la date de debut son Evenements:<input type="date" name="date" class="form-control mb-3">
                <input type="submit" value="Enregister" class="btn btn-outline-success">
            </form>
            {% if messages%}
            <p class="alert alert-danger text-center mt-2" role="alert">Erre de saisire, merci de verifier votre donnee </p>
            {% endif %}
        </div>

    </div>

</div>
<div class="container my-5">
    <h1 class="text-secondary">Evenements desactive:</h1>
    <hr>
    <div class="row">
        {% if even_desactive %}
        {% for i in even_desactive %}
            <div class="col-sm-4">
            <div class="card my-2 shadow">
            <img src="{{i.img.url}}" class="card-img-top" alt="{{i.specialite}}" style="max-height: 145px;">
            <div class="card-body">
                <p class="card-text">
                    {{i.desc}} <br>
                    {{i.date}}


                </p>
             
                <div class="dropdown" data-bs-theme="blue">
                <a class="btn  dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color:rgb(255, 170, 33);">
                    Choix
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li class="dropdown-item" ><a href="{% url 'desactive_e' i.id  %}" class="btn btn-outline-info" type="button" style="width: 100px;">Active</a></li>
                    <li class="dropdown-item" ><a href="{% url 'sup_even' i.id  %}" class="btn btn-outline-danger" type="button" style="width: 100px;">Suppreme</a></li>
                </ul>
                </div>
            </div>
            </div>
            </div>
        {%endfor%}
        {% else %}
            <p class="text-center text-secondary">Aucune Evenements desactive.</p>
        {% endif %}
    </div>
</div>
{% endblock contenu %}