
{% extends "resto/resto_admin.html" %}

{% block contenu %}
<head>
  <title>Modefier compte</title>
</head>
<br>
<div class="container">
    <form method="post">
      {% csrf_token %}
      <h1 class="text-primary">Modefier votre compte </h1>
      <hr>
       <input type="text" placeholder="Nom" class="form-control mt-3" name="nom" value="{{resto.nom}}">
        <input type="text" placeholder="paye" class="form-control mt-3" name="paye" value="{{resto.pays}}">
        <input type="text" placeholder="gouvernement" class="form-control mt-3" name="gouvernement" value="{{resto.gouvernement}}">
        <input type="text" placeholder="région" class="form-control mt-3" name="region" value="{{resto.region}}" >
        <input type="text" placeholder="addresse" class="form-control mt-3" name="addresse" value="{{resto.addresse}}">
        <input type="text" placeholder="Specialite" class="form-control mt-3" name="specialite" value="{{resto.specialite}}">
        <input class="form-control mt-2" type="file" accept="image/*" name="image">
        <textarea placeholder="Modefier votre description" class="form-control mt-3" name="description">{{resto.desc}}</textarea>
        <input type="submit" value="modefier" class="btn btn-success mb-5 mt-3">
        <div class="mt-5">
          {% for message in messages %}
            <div class="alert alert-danger">{{ message }} <br></div>
          {% endfor %}
        </div>
    </form>
  </div>

{% endblock contenu %}
