{% extends "resto/resto_admin.html" %}
{% block contenu %}
<head>
  <title>Modefier plat</title>
</head>
<body>
    <div class="container justify-content-center mt-5">
        <h1 class="text-primary">Modefier Plat</h1>
        <hr>
        <form method="post">
          {% csrf_token %}
          <input type=" text" class="form-control mb-2" placeholder="Nom du plat" name="nom" value="{{plat.nom}}">
          <textarea placeholder="Description" class="form-control mb-2" name="desc">{{plat.desc}}</textarea>
          <input class="form-control mb-2" type="file" accept="image/*" name="image">
          <input type="number" name="prix" class="form-control mb-2" placeholder="Prix" value="{{plat.prix}}">
          <button type="submit" class="btn btn-primary mt-3">Modefier</button>
          <div class="mt-5">
            {% for message in messages %}
              <div class="alert alert-danger">{{ message }} <br></div>
            {% endfor %}
          </div>
        </form>
      </div>
  </body>

{% endblock contenu %}