{% extends 'accueil/pub.html' %}

{% block from %}
<div class="container mb-5">
    <h1 class="text-secondary">Créer son pub</h1>
    <hr>
    <form method="post">
        {% csrf_token %}
        <input type="text" placeholder="nom de publicite" name="nom" class="form-control mb-3">
        <textarea name="desc" class="form-control mb-3" placeholder="une petite description pour la pub"></textarea>
        <input type="file" name="img" accept="image/*" class="form-control mb-3">
        <select name="dure" class="form-select mb-3">
            <option value="0">choix la dure de votre pub</option>
            <option value="1">1jour</option>
            <option value="2">2jour</option>
            <option value="3">3jour</option>
            <option value="7">une semaine</option>
            <option value="14">deux semaine</option>
        </select>
        <input type="submit" value="Enregister" class="btn btn-outline-success">
    </form>
    {% if messages%}
    <p class="alert alert-danger text-center mt-2" role="alert">Erre de saisire, merci de verifier votre donnee </p>
    {% endif %}
</div>
{% endblock from %}