{% load static %}

<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="shortcut icon" href="{% static 'image/icon/logo.png' %}" >
    <title>Inscription</title>
    <script src="{% static 'js\bootstrap.bundle.min.js' %}"></script>
  </head>
  <body>
    
    <div class="container">
      <form method="post">
        {% csrf_token %}
        <h1 class="text-primary">Inscription </h1>
        <hr>
          <input type="text" placeholder="Nom" class="form-control" name="nom"><br>
          <input type="text" placeholder="Prenom" class="form-control" name="prenom"><br>
          <input type="text" placeholder="username" class="form-control" name="tele"><br>
          <input type="text" placeholder="Email" class="mb-3 form-control" name="mail"><br>
          <strong class="fw-semibold">Choix votre date de naissance:</strong>  <input type="date" class="mb-3 form-control" name="date"><br>
          <strong class="fw-semibold">Sexe:</strong>  Homme <input type="radio" value="H" name="sexe" checked class="form-check-input mb-4">  Famme <input type="radio" value="F" class="form-check-input" name="sexe"><br>
          <input type="password" placeholder="Mot de passe" class="form-control" name="mot"><br>
          <input type="password" placeholder="Confirme la mot de passe" class="form-control" name="conf_mot"><br>
          
          <input type="submit" value="Inscription" class="btn btn-success">
          <a href=" {%url 'connexion'%} " class="btn btn-outline-warning">j'ai deja un compte!</a>
          <hr>
          <div class="mt-5">
            {% for message in messages %}
              <div class="alert alert-danger">{{ message }} <br></div>
            {% endfor %}
          </div>
      </form>
    </div>

  </body>